.window-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.window {
  width: min(600px, 80%);
  height: 400px;
  display: grid;
  grid-template-columns: 150px 1fr;
}

/* .navigation {
  
} */

.explorer {
  position: relative;
}

.popup {
  position: absolute;
  left: 25%;
  top: 25%;
  display: grid;
  gap: 5px;
  width: 50%;
  grid-template-areas: 
    "HEADER HEADER"
    "INPUT INPUT"
    "BUTTON1 BUTTON2"
  ;
}

.popup > span {
  grid-area: HEADER;
  text-align: center;
}

.popup > input {
  grid-area: INPUT;
}

.popup > button:first-child {
  grid-area: BUTTON1;
}

.popup > button:last-child {
  grid-area: BUTTON2;
}

.context {
  z-index: 100;
}



div {
  border: 1px solid black;
}