.window-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4px);
}

.window {
  width: min(600px, 80%);
  height: 400px;
  display: grid;
  grid-template-columns: 150px 1fr;
}

/* .navigation {
  
} */

.explorer {
  position: relative;
  padding: 10px;
  overflow-y: scroll;
  padding: 10px;
}

.popup {
  position: absolute;
  left: 25%;
  top: 25%;
  display: grid;
  gap: 5px;
  max-width: 60%;
  background-color: white;
  grid-template-areas: 
    "HEADER HEADER"
    "ERROR ERROR"
    "INPUT INPUT"
    "BUTTON1 BUTTON2"
  ;
}

.popup > * {
  width: auto;
}

.popup > .popup-header {
  grid-area: HEADER;
  text-align: center;
}

.popup > .popup-error {
  grid-area: ERROR;
  text-align: center;
  color: red;
  font-size: 12px;
}

.popup > input {
  grid-area: INPUT;
}

.popup > button:first-child {
  grid-area: BUTTON1;
}

.popup > button:last-child {
  grid-area: BUTTON2;
}

.context {
  z-index: 100;
}

.context button {
  width: 100%;
}

.directory {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  /* margin-bottom: 40px; */
}

.folder {
  height: auto;
  min-height: 100px;
  word-wrap: break-word;
  text-align: center;
}

.folder > img {
  max-width: 80%;
  height: auto;
  pointer-events: none;
}

div {
  border: 1px solid black;
}

@media (max-width: 720px) {
  .directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .popup {
    display: flex;
    flex-flow: column;
    left: 20%;
  }
}