.window-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.window {
  width: min(600px, 80%);
  height: 400px;
  display: grid;
  grid-template-columns: 150px 1fr;
}

/* .navigation {
  
} */

.explorer {
  position: relative;
}

.popup {
  position: absolute;
  left: 25%;
  top: 25%;
  display: grid;
  gap: 5px;
  max-width: 50%;
  background-color: white;
  grid-template-areas: 
    "HEADER HEADER"
    "ERROR ERROR"
    "INPUT INPUT"
    "BUTTON1 BUTTON2"
  ;
}

.popup > * {
  width: auto;
}

.popup > .popup-header {
  grid-area: HEADER;
  text-align: center;
}

.popup > .popup-error {
  grid-area: ERROR;
  text-align: center;
  color: red;
  font-size: 12px;
}

.popup > input {
  grid-area: INPUT;
}

.popup > button:first-child {
  grid-area: BUTTON1;
}

.popup > button:last-child {
  grid-area: BUTTON2;
}

.context {
  z-index: 100;
}

.directory {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.folder {
  height: 100px;
}

div {
  border: 1px solid black;
}